{{- /* Checkbox unchecked */ -}}
{{- $old := `<input disabled="" type="checkbox">` -}}
{{- $new := `<svg class='icon square icon-square' aria-hidden='true'><use href='#icon-square'></use></svg>` -}}
{{- $content := replace . $old $new -}}

{{- /* Checkbox checked */ -}}
{{- $old = `<input checked="" disabled="" type="checkbox">` -}}
{{- $new = `<svg class='icon check-square icon-check-square' aria-hidden='true'><use href='#icon-check-square'></use></svg>` -}}
{{- return replace $content $old $new -}}
