svg.icon {
  display: inline-block;
  width: 1.75em;
  height: 1.75em;
  vertical-align: -0.125em;
  text-align: center;
  fill: currentColor;

  path {
    fill: currentColor;
  }
}

/*Firefox FOUC Fix START*/
svg.icon.reload {
  animation: ff-fouc-fix 0.01s;
  animation-delay: 0.1s;
}

@keyframes ff-fouc-fix {
    from { transform: scale(1); }
    to { transform: scale(1); }
}
/*Firefox FOUC Fix END*/

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -.1em;
}

svg.arrow-up {
  height: 1em;
  width: 1em;
  margin: 0 .1em 0 .1em;
}

svg.calendar,
svg.clock,
svg.folder,
svg.folder-open,
svg.pencil,
svg.spinner,
svg.tag,
svg.tags,
svg.times-circle,
svg.user-circle {
  height: 1em;
  width: 1em;
}