svg.icon {
  display: inline-block;
  width: 1.75em;
  height: 1.75em;
  vertical-align: -0.125em;
  text-align: center;
  fill: currentColor;

  path {
    fill: currentColor;
  }
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -.1em;
}

svg.arrow-up {
  height: 1em;
  width: 1em;
  margin: 0 .1em 0 .1em;
}

svg.calendar,
svg.clock,
svg.folder,
svg.folder-open,
svg.pencil,
svg.tag,
svg.tags {
  height: 1em;
  width: 1em;
}