{{- $cdn := .Scratch.Get "cdn" | default dict -}}
{{- $fingerprint := .Scratch.Get "fingerprint" -}}
{{- $comment := .Scratch.Get "comment" | default dict -}}
{{- $commentConfig := dict -}}

{{- if $comment.enable -}}
    <div id="comments">

        {{- /* Telegram Comments System */ -}}
        {{- $telegram := $comment.telegram | default dict -}}
        {{- if $telegram.enable -}}
            <div id="telegram-comments" class="comment">
                {{- $attr := printf `data-comments-app-website="%v"` $telegram.siteID -}}
                {{- $attr = printf `%v data-limit="%v"` $attr ($telegram.limit | default 5) -}}
                {{- with $telegram.height -}}
                    {{- $attr = printf `%v data-height="%v"` $attr . -}}
                {{- end -}}
                {{- with $telegram.color -}}
                    {{- $attr = printf `%v data-color="%v"` $attr . -}}
                {{- end -}}
                {{- if $telegram.colorful -}}
                    {{- $attr = printf `%v data-colorful="1"` $attr -}}
                {{- end -}}
                {{- if $telegram.dislikes -}}
                    {{- $attr = printf `%v data-dislikes="1"` $attr -}}
                {{- end -}}
                {{- if $telegram.outlined -}}
                    {{- $attr = printf `%v data-outlined="1"` $attr -}}
                {{- end -}}
                {{- dict "Source" "https://comments.app/js/widget.js?3" "Defer" true "Attr" $attr | partial "plugin/script.html" -}}
                <noscript>
                    Please enable JavaScript to view the comments powered by <a href="https://comments.app/">Telegram Comments</a>.
                </noscript>
            </div>
        {{- end -}}

    </div>
{{- end -}}

{{- dict "comment" $commentConfig | dict "config" | merge (.Scratch.Get "this") | .Scratch.Set "this" -}}
