{{- $cdn := .Scratch.Get "cdn" | default dict -}}
{{- $fingerprint := .Scratch.Get "fingerprint" -}}
{{- $comment := .Scratch.Get "comment" | default dict -}}
{{- $commentConfig := dict -}}

{{- if $comment.enable -}}
    <div id="comments">
        {{- /* Facebook Comment System */ -}}
        {{- $facebook := $comment.facebook | default dict -}}
        {{- if $facebook.enable -}}
            <div id="fb-root" class="comment"></div>
            <div
                class="fb-comments"
                data-href="{{ .Permalink }}"
                data-width="{{ $facebook.width }}"
                data-numposts="{{ $facebook.numPosts }}"
            ></div>
            {{- $source := printf "https://connect.facebook.net/%v/sdk.js#xfbml=1&version=v5.0&appId=%v&autoLogAppEvents=1" ($facebook.languageCode | default (T "facebookLanguageCode")) $facebook.appId -}}
            {{- dict "Source" $source "Defer" true | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
            <noscript>
                Please enable JavaScript to view the comments powered by <a href="https://developers.facebook.com/docs/plugins/comments/">Facebook</a>.
            </noscript>
        {{- end -}}

        {{- /* Telegram Comments System */ -}}
        {{- $telegram := $comment.telegram | default dict -}}
        {{- if $telegram.enable -}}
            <div id="telegram-comments" class="comment">
                {{- $attr := printf `data-comments-app-website="%v"` $telegram.siteID -}}
                {{- $attr = printf `%v data-limit="%v"` $attr ($telegram.limit | default 5) -}}
                {{- with $telegram.height -}}
                    {{- $attr = printf `%v data-height="%v"` $attr . -}}
                {{- end -}}
                {{- with $telegram.color -}}
                    {{- $attr = printf `%v data-color="%v"` $attr . -}}
                {{- end -}}
                {{- if $telegram.colorful -}}
                    {{- $attr = printf `%v data-colorful="1"` $attr -}}
                {{- end -}}
                {{- if $telegram.dislikes -}}
                    {{- $attr = printf `%v data-dislikes="1"` $attr -}}
                {{- end -}}
                {{- if $telegram.outlined -}}
                    {{- $attr = printf `%v data-outlined="1"` $attr -}}
                {{- end -}}
                {{- dict "Source" "https://comments.app/js/widget.js?3" "Defer" true "Attr" $attr | partial "plugin/script.html" -}}
                <noscript>
                    Please enable JavaScript to view the comments powered by <a href="https://comments.app/">Telegram Comments</a>.
                </noscript>
            </div>
        {{- end -}}

    </div>
{{- end -}}

{{- dict "comment" $commentConfig | dict "config" | merge (.Scratch.Get "this") | .Scratch.Set "this" -}}
