{{- $inner := .Inner | .Page.RenderString -}}

{{- if .IsNamedParams -}}
    {{- $type := .Get "type" | default "note" -}}
    <div class="details admonition {{ $type }}{{ if .Get `open` | ne false }} open{{ end }}">
        <div class="details-summary admonition-title">
            {{- partial "plugin/icon" (dict "Name" $type) -}}{{ .Get "title" | default (T $type) }}{{- partial "plugin/icon" (dict "Name" "angle-right" "Class" "icon angle-right icon-angle-right details-icon") -}}
        </div>
        <div class="details-content">
            <div class="admonition-content">
                {{- $inner -}}
            </div>
        </div>
    </div>
{{- else -}}
    {{- $type := .Get 0 | default "note" -}}
    <div class="details admonition {{ $type }}{{ if .Get 2 | ne false }} open{{ end }}">
        <div class="details-summary admonition-title">
            {{- partial "plugin/icon" (dict "Name" $type) -}}{{ .Get 1 | default (T $type) }}{{- partial "plugin/icon" (dict "Name" "angle-right" "Class" "icon angle-right icon-angle-right details-icon") -}}
        </div>
        <div class="details-content">
            <div class="admonition-content">
                {{- $inner -}}
            </div>
        </div>
    </div>
{{- end -}}